# ENTREGA 1

## Data Science I : Fundamentos para la Ciencia de Datos

#### Fecha: 19-06-2024
#### Alumno: Pedro Jofré
#### Comision:61155

### Objetivos: 
#### -Escoger Dataset
#### -Generar preguntas y/o Hipotesis para el dataset
#### -Generar un notebook para la carga y estudio de los datos
#### -Creacion de graficos relevantes con Matplotlib y Seaborn

## 1.Dataset
### Nombre: `TMDB_tv_dataset_v3`
#### source: https://www.kaggle.com/datasets/asaniczka/full-tmdb-tv-shows-dataset-2023-150k-shows?resource=download

## 2.Abstract: 
- El conjunto de datos proporciona información crucial para analizar las tendencias y predecir el éxito de películas y shows de televisión utilizando información de The Movie Database (TMDB). La base de datos esta compuesta por 29 variables y mas de 150000 registros, los cuales incluyen atributos interesantes de analisis como el genero, popularidad y fecha de emision, permitiendo la segmentación y análisis detallado. Esta cantidad de datos permite una comprensión profunda y detallada de las preferencias y comportamientos de la audiencia.

Los análisis derivados de este dataset presentan una oportunidad valiosa para la industria del entretenimiento, permitiendo la identificación de factores que impulsan la popularidad, la evaluación de la efectividad de estrategias de lanzamiento y marketing, y la formulación de recomendaciones personalizadas para los usuarios, por mencionar algunos.

Este conjunto de datos es una herramienta invaluable para investigadores y profesionales de la industria del entretenimiento, contribuyendo a la mejora de la toma de decisiones estratégicas, la personalización de la experiencia del usuario y el incremento de la satisfacción y retención de la audiencia.

## 3 Variables
id: id unico del show
 <br> name: nombre del show
 <br> number_of_seasons: numero de temporadas
 <br> number_of_episodes: numero de episodios 
 <br> original_language: idioma original
 <br> vote_count: cantidad de votos, 0 indica sin informacion
 <br> vote_average: nota promedio de los votos, 0 indica sin informacion
 <br> overview: resumen
 <br> adult: boolean que indica si el show es categoria adulto
 <br> backdrop_path: url para la imagen del show
 <br> first_air_date: primera fecha de emision
 <br> last_air_date: ultima fecha de emision 
 <br> homepage: url oficial del show
 <br> in_production: boolean que indica si esta en producion
 <br> original_name: nombre original 
 <br> popularity: popularidad, 0 indica sin informacion
 <br> poster_path: url para la imagen del poster
 <br> type: tipo de show
 <br> status: status 
 <br> tagline: linea asociada al show
 <br> genres: listado de genero
 <br> created_by: creado por
 <br> languages:listado idiomas disponibles
 <br> networks: listado de cadenas que han emitido el programa 
 <br> origin_country: listado de pais/es de origen
 <br> spoken_languages: listado de idiomas hablados 
 <br> production_companies: listado de compañias productoras
 <br> production_countries:listado de los paises de produccion
 <br> episode_run_time: duracion de los episodios, 0 indica no informacion

## 3.Hipotesis

### Importacion de librerias

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
tmdb=pd.read_csv("../data/TMDB_tv_dataset_v3.csv")

In [18]:
tmdb.head()

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

In [19]:

tmdb.tail()

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
168634,239099,母乳酱想要喷出来,1,1,zh,0,0.0,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
168635,241205,Barbie Dream Squad,1,1,es,0,0.0,NaN,False,NaN,...,NaN,NaN,"Dee Shipley, Blair Davidson",NaN,NaN,US,NaN,NaN,NaN,0
168636,240696,Picasso,1,1,bn,0,0.0,"Murder, art and a journalist's relentless ques...",False,/fseBBbvHtdcZS5M7bSjOxYsVe5.jpg,...,NaN,Crime,NaN,bn,NaN,IN,বাংলা,NaN,India,0
168637,240697,女子大生危険なアルバイト,1,1,en,0,0.0,A college student gets into trouble when she m...,False,NaN,...,NaN,NaN,NaN,NaN,NaN,US,NaN,NaN,NaN,0
168638,237566,Welcome to My World,1,5,en,0,0.0,Short-lives series on Youtube Red.,False,NaN,...,NaN,NaN,Paul Vandervort,NaN,NaN,US,NaN,YouTube Red,United States of America,0

Se observa que el dataset posee una gran cantidad de datos cualitativos sobre cuantitativos, ademas de observar que existen datos no completos en forma de NaN.

In [20]:
tmdb.shape

(168639, 29)

El dataset cuenta con 29 variables y 168639 registros

In [21]:
for column_headers in tmdb.columns: 
    print(column_headers)

id
name
number_of_seasons
number_of_episodes
original_language
vote_count
vote_average
overview
adult
backdrop_path
first_air_date
last_air_date
homepage
in_production
original_name
popularity
poster_path
type
status
tagline
genres
created_by
languages
networks
origin_country
spoken_languages
production_companies
production_countries
episode_run_time

Examinamos el restro de las varibles que no pueden verse con head

In [22]:
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168639 entries, 0 to 168638
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    168639 non-null  int64
 1   name                  168634 non-null  object
 2   number_of_seasons     168639 non-null  int64
 3   number_of_episodes    168639 non-null  int64
 4   original_language     168639 non-null  object
 5   vote_count            168639 non-null  int64
 6   vote_average          168639 non-null  float64
 7   overview              93333 non-null   object
 8   adult                 168639 non-null  bool
 9   backdrop_path         77780 non-null   object
 10  first_air_date        136903 non-null  object
 11  last_air_date         138735 non-null  object
 12  homepage              50998 non-null   object
 13  in_production         168639 non-null  bool
 14  original_name         168634 non-null  object
 15  popularity            168639 non-null  float64
 16  poster_path           108737 non-null  object
 17  type                  168639 non-null  object
 18  status                168639 non-null  object
 19  tagline               5330 non-null    object
 20  genres                99713 non-null   object
 21  created_by            36496 non-null   object
 22  languages             110050 non-null  object
 23  networks              97589 non-null   object
 24  origin_country        137609 non-null  object
 25  spoken_languages      109280 non-null  object
 26  production_companies  59342 non-null   object
 27  production_countries  77511 non-null   object
 28  episode_run_time      168639 non-null  int64
dtypes: bool(2), float64(2), int64(5), object(20)
memory usage: 35.1+ MB

Se observa que el dataset posee datos nulos que deben ser tratados.

In [23]:
tmdb.describe()

,id,number_of_seasons,number_of_episodes,vote_count,vote_average,popularity,episode_run_time
count,168639.000000,168639.000000,168639.000000,168639.000000,168639.000000,168639.000000,168639.000000
mean,111307.074704,1.548497,24.465082,13.305054,2.333843,5.882644,22.603348
std,76451.662352,2.942872,134.799622,190.809059,3.454334,42.023216,47.950427
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,45936.500000,1.000000,1.000000,0.000000,0.000000,0.600000,0.000000
50%,97734.000000,1.000000,6.000000,0.000000,0.000000,0.857000,0.000000
75%,196923.500000,1.000000,20.000000,1.000000,6.000000,2.431500,42.000000
max,251213.000000,240.000000,20839.000000,21857.000000,10.000000,3707.008000,6032.000000

Utilizamos el describe para hacer un resumen estadisticos de los datos cuantitativos los que incluye el promedio, cuartiles, entre otros:
- En primer lugar uno podria decir que el id podria tener valores outlier al ver los cuartiles, maximos y minimos, pero el id representa un identificador unico para los show, por lo que no es una variable cuantitativa. 
- De misma manera si se observa el cuartiles, promedios y maximos, se podria cncluir que tanto el numero de episodios como el tiempo de duracion de los episodios tiene outlier, lo cual puede ser verdad pero se debe recordar que 0 en esta variable no representa que tuvo 0 temporadas o duro 0 minutos el episodio, sino que para esos casos no se posee la información por lo que si uno quiere hacer un analisis de estas variables debe ignorar esos valores.
- en resumen lo unico que se puede concluir de este analisis es que si se quiere analizar en profundidad las variables cuantitativas, se deben ignorar los valores, 0 pero no necesariamente deben ser eliminados de la base.

Para facilitar la visualizacion de la data es necesario renombrar las variables a traves de la funcion rename.

In [24]:
nombres_columnas= {'id':"id",
'name':"Nombre_Serie",
'number_of_seasons':"#_Temporadas",
'number_of_episodes':"#_Episodios",
'original_language':"Idioma_original",
'vote_count':"Votos_Totales",
'vote_average':"Voto_promedio",
'overview':"Resumen",
'adult':"Categoria_Adulto",
'backdrop_path':"url_Imagen",
'first_air_date':"Fecha_Inicio",
'last_air_date':"Fecha_Fin",
'homepage':"Pagina",
'in_production':"En_Produccion",
'original_name':"Nombre_Original",
'popularity':"Popularidad",
'poster_path':"url_Poster",
'type':"Tipo_Show",
'status':"Status",
'tagline':"Frase",
'genres':"Generos",
'created_by':"Creador",
'languages':"Idiomas",
'networks':"Canales",
'origin_country':"Pais_Origen",
'spoken_languages':"Idiomas_hablados",
'production_companies':"Companias_Produccion",
'production_countries':"Paises_Produccion",
'episode_run_time':"Duracion_episodio"}

tmdb.rename(columns=nombres_columnas,inplace=True)

Datos nulos

In [25]:
datos_null=tmdb.isnull().sum()
datos_null

id                           0
Nombre_Serie                 5
#_Temporadas                 0
#_Episodios                  0
Idioma_original              0
Votos_Totales                0
Voto_promedio                0
Resumen                  75306
Categoria_Adulto             0
url_Imagen               90859
Fecha_Inicio             31736
Fecha_Fin                29904
Pagina                  117641
En_Produccion                0
Nombre_Original              5
Popularidad                  0
url_Poster               59902
Tipo_Show                    0
Status                       0
Frase                   163309
Generos                  68926
Creador                 132143
Idiomas                  58589
Canales                  71050
Pais_Origen              31030
Idiomas_hablados         59359
Companias_Produccion    109297
Paises_Produccion        91128
Duracion_episodio            0
dtype: int64

De esto se puede observar que existen diversos valores nulos:
- En primer lugar se eliminaran los 5 registros que no poseen nombre, ya que corresponden a un porcentaje menor del 0.01% 
- se hara un analisis porcentual de los datos nulos para tener una mejor idea del efecto

In [26]:
tmdb=tmdb.dropna(subset=['Nombre_Serie'])
tmdb.shape

(168634, 29)

In [27]:
for i in range(0,datos_null.size):
    porcentaje=datos_null[i]/tmdb.shape[0]*100
    if porcentaje >0:
        print(datos_null.index[i],porcentaje)

Nombre_Serie 0.0029650011267004285
Resumen 44.65647496946048
url_Imagen 53.87940747417485
Fecha_Inicio 18.819455151392958
Fecha_Fin 17.733078738569922
Pagina 69.76113950923302
Nombre_Original 0.0029650011267004285
url_Poster 35.52189949832181
Frase 96.84227380006405
Generos 40.87313353179074
Creador 78.36082877711493
Idiomas 34.743290202450275
Canales 42.13266601041308
Pais_Origen 18.400796992302855
Idiomas_hablados 35.199900375962144
Companias_Produccion 64.81314562899534
Paises_Produccion 54.03892453479132

C:\Users\adclean\AppData\Local\Temp\ipykernel_10932\291404422.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  porcentaje=datos_null[i]/tmdb.shape[0]*100

Como se observa los % son demasiados alto para eliminar los registros restantes, por suerte aquellos que tienen la mayor cantidad, corresponde a informacion no relevante para las hipotesis originalmente escogidas, como  Resumen,url_Imagen,Pagina,url_Poster,Frase,Creador

In [28]:
tmdb.dropna(subset=['Fecha_Inicio','Fecha_Fin','Generos','Idiomas' ])

,id,Nombre_Serie,#_Temporadas,#_Episodios,Idioma_original,Votos_Totales,Voto_promedio,Resumen,Categoria_Adulto,url_Imagen,...,Frase,Generos,Creador,Idiomas,Canales,Pais_Origen,Idiomas_hablados,Companias_Produccion,Paises_Produccion,Duracion_episodio
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168619,238455,The Animated Bible Series,1,3,en,0,0.000,"The Animated Bible Series, is the world's firs...",False,/5fwERoamrBqdOdNdexMsrpAaQ8w.jpg,...,"""In the beginning, God created the heavens and...",Animation,Steve Cleary,en,YouTube,US,English,"Vision Video, Cat In The Mill Studio",United States of America,0
168620,238456,Bate ou Regaça,1,27,pt,0,0.000,NaN,False,NaN,...,NaN,Comedy,Emilio Surita,pt,NaN,BR,Português,Band,NaN,0
168630,240293,Jhanak,1,32,hi,0,0.000,NaN,False,/qsVujmyayl7oL7NfdOvCZAsxaB5.jpg,...,NaN,Drama,NaN,hi,Disney+ Hotstar,IN,हिन्दी,NaN,NaN,0
168633,240693,Jokah & Tutty,1,8,de,0,0.000,NaN,False,/jS1ftJ6FfnAuj5No45v5pxAiUQa.jpg,...,NaN,"Comedy, Action & Adventure, Drama",NaN,de,Amazon Freevee,DE,Deutsch,"Amazon Studios, STARK Film",NaN,0
168636,240696,Picasso,1,1,bn,0,0.000,"Murder, art and a journalist's relentless ques...",False,/fseBBbvHtdcZS5M7bSjOxYsVe5.jpg,...,NaN,Crime,NaN,bn,NaN,IN,বাংলা,NaN,India,0

### EDA - Análisis exploratorio de los datos

In [34]:
tipo_s=tmdb["Tipo_Show"].value_counts()
tipo_s

Tipo_Show
Scripted       129296
Documentary     13864
Miniseries      10810
Reality          9682
Talk Show        2997
Video            1379
News              606
Name: count, dtype: int64

Es importante tener en cuenta esta distribución al realizar cualquier análisis posterior, ya que las tendencias observadas podrían estar sesgadas hacia los programas Scripted debido a su mayor representación en los datos.

In [33]:
status_s=tmdb["Status"].value_counts()
status_s

Status
Ended               93231
Returning Series    67504
Canceled             4633
In Production        2380
Planned               650
Pilot                 236
Name: count, dtype: int64

Al igual que en el tipo de show se puede observar que la distribucion esta marcada a 2 estados, en primer lugar los terminados lo cual indica que en su mayoria los show tienen un termino pudiendo entender el ciclo de vida de los show, en segundo lugar estan las series que resurgieron, este puede ser un punto de interes ya que significa que hubo un interes mayor al estimado originalmente. Por ultimo el cancelado aunque tiene un menor % de representacion puede ser util para estudiar las razones de cancelacion y si es posible encontrar patrones.

In [37]:
genero_s=tmdb["Generos"].value_counts()
genero_s

Generos
Documentary                                                                     17596
Drama                                                                           16282
Comedy                                                                          10304
Reality                                                                          8009
Animation                                                                        3326
                                                                                ...
Action & Adventure, Animation, Crime                                                1
Animation, Action & Adventure, Comedy, Drama, Family, Kids, Sci-Fi & Fantasy        1
Animation, Action & Adventure, Comedy, Action & Adventure, Sci-Fi & Fantasy         1
Sci-Fi & Fantasy, Comedy, Reality, Action & Adventure                               1
Comedy, Documentary, Sci-Fi & Fantasy, Mystery                                      1
Name: count, Length: 2228, dtype: int64

Como se puede observar cada programa puede tener mas 3 de una categoria por lo que es necesario hacer un estudio mas detallado para obtener conclusiones. Por ejemplo podemos ver cuantos generos utiliza cada programa.

In [38]:
tmdb["Generos"]

0         Sci-Fi & Fantasy, Drama, Action & Adventure
1                                        Crime, Drama
2                    Drama, Sci-Fi & Fantasy, Mystery
3         Action & Adventure, Drama, Sci-Fi & Fantasy
4                             Crime, Sci-Fi & Fantasy
                             ...
168634                                            NaN
168635                                            NaN
168636                                          Crime
168637                                            NaN
168638                                            NaN
Name: Generos, Length: 168634, dtype: object